includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - config
        - src
        - tests
    tmpDir: build/phpstan
    checkModelProperties: true
    checkOctaneCompatibility: true
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        -
            identifier: trait.unused
            path: src/HasSpecifications.php
